{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
   ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "commonjs": true
    },
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "indent": [
            "error",
            2
        ],
        "quotes": [
            "error",
            "single"
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}